<%= render 'shared/navbar' %>
<%= render 'layouts/banner' %>

<% puppies = ["vincentfljghsakdfhjsadkfbasdfkajsdhbf", "john", "dave", "jack", "johnny"] %>

<div class="main-page" style = "background-color: white;">
<!-- Search form -->
<div class="md-form active-purple active-purple-2 mb-3 search">
    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
</div>
  <div class="container title">
          <% puppies.each do |puppy| %>
    <div class="card">
      <%= puppy %>
        <%#= link_to "#{puppy.name}.", puppy_path(puppy) %>
    </div>
          <% end %>
  </div>
</div>





