<%= render 'layouts/navbar' %>
<%= render 'layouts/banner' %>

<div class="main-page" style = "background-color: white;">
  <div class="container title">
    <div class="card">
      <%= ("something will go here") * 200 %>
    </div>
  </div>
</div>
