<div class="banner-sad">
  <div class="banner-content">
      <h1>Why so serious?</h1>
  </div>
</div>
<div class="banner-happy">
  <div class="banner-content">
      <h1>When with AirPups you could be...</h1>
  </div>
</div>

<div class="container">
<h1>Puppies are desperate for attention which is rarely given to them.</h1>
<h3>Change your life. Learn to love.</h3>
<p>Here at AirPups we believe that every puppy should have the best start to life possible. A puppy's personality is formed in the first two years of it's life and it's critical during this period to ensure the puppy abosrbs as much love and joy it can in order to optimise it's chance of a long, healthy and most importantly, HAPPY life. </p>
  <div class="flex-box">
    <div class="card-sad">
        <div class="banner-content">
          <h1>SAD</h1>
        </div>
    </div>
    <div class="card-happy">
        <div class="banner-content">
            <h1>HAPPY</h1>
        </div>
    </div>
</div>
  <p>Our mission from day one was to ensure that no puppy ever goes unloved again. -Marcus Rapacioli. Founder and CEO</p>
</div>













</div>

